<section class="col-4  mx-auto card card-primary m-1 p-1">
  <div class="alert alert-success">{{msg}}</div>
  <form #frm="ngForm" (ngSubmit)="edit()">
    <div>Employee Id</div>
    <div><input type="number" class="form-control" name="txtid" [(ngModel)]='emp.empId' #eid="ngModel" required/></div>
    <div *ngIf="eid.invalid && eid.touched" class="alert alert-danger">Employee Id is Required</div>

    <div>Employee Name</div>
    <div><input type="text" class="form-control" name="txtname" [(ngModel)]='emp.empName' #ename="ngModel" required pattern="^[A-Za-z\s]{1,}[A-Za-z\s]{0,}$"/></div>
    <div *ngIf="ename.invalid && ename.touched" class="alert alert-danger">
      <div *ngIf="ename.errors.required"> Employee Name is Invalid</div>
      <div *ngIf="ename.errors.pattern">Employee Name Must contain alphabates and can have one space between</div>
    </div>

    <div>Salary</div>
    <div><input type="number" class="form-control" class="form-control" name="txtsal" [(ngModel)]='emp.empSal' #esal="ngModel" required/></div>
    <div *ngIf="esal.invalid && esal.touched" class="alert alert-danger">Salary Is Mandatory</div>

    <div>Department</div>
    <div><input type="text" name="txtdept" class="form-control" [(ngModel)]='emp.empdept' #edept="ngModel" required pattern="HR|PR"/></div>
    <div *ngIf="edept.invalid && edept.touched" class="alert alert-danger">
      <div *ngIf="edept.errors.required"> Department is Required</div>
      <div *ngIf="edept.errors.pattern">Department can be either HR or PR</div>
    </div>

    <input type="submit" value="EditEmployee" [disabled]="!frm.valid"/>
  </form>

</section>