<header class="jumbotron text-center">
  <h1 class="text-center"><img [src]="imgname" height="50px" width=80px/>Basics And Routing</h1>
  
</header>
<!-- <article style="display: flex;">
  <app-calculator></app-calculator>
  <app-volume></app-volume>
  <app-sharedbill></app-sharedbill>
</article> -->
<article>
  <nav class="col-6 bg-dark text-white p-1 mx-auto justify-content-center">
    <a routerLink="input" class="m-2 text-white">@Input</a>
    <a routerLink="output" class="m-2 text-white">@Output</a>
    
  </nav>

  <!-- router-outlet show the Component -->
  <router-outlet></router-outlet>
</article>
